@import url('https://cdn.jsdelivr.net/npm/font-applesdgothicneo@1.0/all.min.css');
@import './style/component/header.css';
@import './style/page/home.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Spoqa Han Sans Neo', 'AppleSDGothicNeo', 'Noto Sans KR',
      'sans-serif';
    font-size: 16px;
    font-weight: 500;
    color: #262626;
  }
}
